body {
    margin: 0;
}

button {
    border-radius: 8px !important;
}

.content {
    max-width: 1280px;
}

.navbar {
    background-color: #17a2b8;
}

i.icon-user {
    height: 28px;
    width: 28px;
    font-size: 28px;
    color: white;
}

.navbar .container-fluid .navbar-brand img {
    height: 50px;
}

ol.breadcrumb  {
    margin-bottom: 0;
}

.navbar .container-fluid .navbar-brand span {

}