body {
    margin: 0;
    font-size: 15px !important;
}

button {
    border-radius: 8px !important;
}

.content {
    max-width: 1280px;
}

.navbar {
    background-color: #17a2b8;
}

i.icon-user {
    height: 28px;
    width: 28px;
    font-size: 28px;
    color: white;
}

button.btn-tools {
    background-color: transparent;
    border: none;
    color: black;
    padding: 0;
}

button.btn-tools span {
    font-size: 20px !important;
}

button.btn-tools:hover {
    color: #0069d9;
}

button.btn-tools:hover span.bi-check {
    color: green;
}

button.btn-tools:hover span.bi-x {
    color: red;
}

.navbar .container-fluid .navbar-brand img {
    height: 50px;
}

ol.breadcrumb  {
    margin-bottom: 0;
}

.modal-dialog {
    max-width: 600px !important;
}

.modal-header {
    border-bottom: none !important;
}

.phishing-1 {
    background-color: #3fa63f !important;
    color: white !important;
}

.phishing-0 {
    background-color: #e35e5e !important;
    color: white !important;
}

.input-file-dataset {
    align-self: center;
}

.no-phishing {
    background-color: #ecb5b5;
    color: red;
}

.is-phishing {
    background-color: #dceedc;
    color: green;
}
