body {
    margin: 0;
}

button {
    border-radius: 8px !important;
}

.content {
    max-width: 1280px;
}

.navbar {
    background-color: #3F37C9;
}

ol.breadcrumb  {
    margin-bottom: 0;
}

.navbar .container-fluid .navbar-brand span {

}